body{
	text-align: center;
	font-size:25px;
	background-image: url("../img/boy.jpg");
	font-weight: bold;
}
.title{
	font-size: 60px;
	text-align: center;
	padding: 30px;
	font-weight: bold;
}
.correct{
	color:blue;
}
.incorrect{
	color:red;
}